.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tasksTypeWrapper {
}

.headerWrapper {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  height: 32px;
}

.headerAcc {
  position: absolute;
}

.tasksHeader {
  position: relative;
  font-size: 17px;
  font-style: italic;
  font-weight: bolder;
  text-transform: uppercase;
  padding-left: 12px;
}

.tasksWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.taskWrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #161625;
  height: 80px;
  min-height: 80px;
  overflow: hidden;
}

.taskLogoWrapper {
  height: 100%;
  width: 160px;
  min-width: 160px;
  background-color: #040710bb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.taskContent {
  padding: 20px;
  flex: 1 1 0%;
}

.taskTitle {
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding-bottom: 6px;
}

.taskDescription {
  font-weight: 500;
  font-size: 12px;
  color: #989eae;
}

.taskButton {
  padding: 20px;
}

.taskButtonText {
  font-size: '14px';
}

.actionWrapper {
  padding: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.rewardWrapper {
  min-width: 120px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 50px;
  padding: 12px;
  gap: 6px;
}

.coinImage {
  position: relative;
}

.reward {
  position: relative;
  font-size: 14px;
  font-weight: 800;
}

.coinBackground {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
}

.doneWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  width: 90px;
  justify-content: center;
  gap: 4px;
}

.doneAcc {
  position: absolute;
  left: 8px;
}

.shadow {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 0.5;
  top: 0px;
}

.doneText {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: #00ff86;
}

.doneOpacity {
  opacity: 0.7;
}

.checkIcon {
  color: #00ff86;
}

@media screen and (max-width: 1024px) {
  .taskWrapper {
    height: fit-content;
    min-height: fit-content;
  }

  .taskLogoWrapper {
    display: none;
  }

  .actionWrapper {
    flex-direction: column;
    gap: 6px;
    align-items: end;
  }
}
