.root {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.tiltGroup {
  display: flex;
  gap: 1em;

  margin-bottom: 120px;

  position: relative;
}

.tiltItem {
  position: inherit;
  filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.25));
}

.top {
  margin-bottom: 32px;

  display: flex;  
  flex-direction: column;
  gap: 20px;
}

.affiliates {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.affiliate {
  cursor: pointer;

  transition: transform 0.2s ease-in, 0.1s filter ease-in;
}

.affiliate:hover, .selected {
  transform: scale(1.2);

  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
}

.timerWrapper {
  position: relative;
  top: -80px;
}

.codePromo {
  font-size: 18px;
  font-weight: bold;
}

.code {
  font-size: 1.5em;

  text-shadow: rgba(221, 180, 63, 0.66) 0px 0px 0.5rem;
}

.roobetText {
  color: #f6c730;
}

@media screen and (max-width: 950px) {
  .hideOnMobile {
    display: none;
  }
}
