.root {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.tiltGroup {
  display: flex;
  gap: 1em;

  margin-bottom: 120px;

  position: relative;
}

.tiltItem {
  position: inherit;
}



@media screen and (max-width: 950px) {
  .tiltGroup {
    display: none;
  }
}
