.root {
  border-radius: 8px;

  width: 244px;
}

.root:hover {
  opacity: 0.85;
  cursor: pointer;
}

.top {
  background: radial-gradient(94.58% 94.58% at 50% 5.42%, rgba(29, 29, 47, 0.2) 0%, rgba(0, 0, 0, 0) 100%, rgba(22, 22, 37, 0) 100%), rgba(22, 22, 37, 0.8);
  backdrop-filter: blur(45px);

  padding: 9px 9px 15px 9px;
  border-radius: 8px 8px 0 0;

  display: flex;
  flex-direction: column;
}

.image {
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
  border-radius: 4px;

  margin-bottom: 15px;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewsSection {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.viewsText {
  font-size: 12px;
  line-height: 13px;
  color: #989EAE;
}

.bottom {
  border-top: 2px solid #000000;
  
  background: rgba(3, 3, 11, 0.33);
  backdrop-filter: blur(45px);

  height: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 14px;
  border-radius: 0 0 8px 8px;
}

.author {
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatar {
  border-radius: 50%;
}

.authorName {
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
}

.date {
  font-size: 12px;
  line-height: 13px;
  color: #989EAE;
}
