// index.module.css
.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.videoSection {
  display: flex;
  gap: 16px;
  flex-direction: column;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.videoContainer {
  background-color: #161624;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  min-height: 500px;
}

.videoImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.videoInfoContainer {
  display: flex;
  flex-direction: column;
  background-color: #161624;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
  @media (min-width: 1024px) {
    max-width: 300px;
    min-height: 500px;
  }
}

.header {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #26263a;
  padding: 16px;
}

.avatarSection {
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatarImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.channelName {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
}

.badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: extrabold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionSection {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  flex-grow: 1;
  @media (min-width: 1024px) {
    height: 0;
    overflow-y: auto;
  }
}

.title {
  font-size: 15px;
  font-weight: extrabold;
  color: white;
  width: 100%;
}

.description {
  font-size: 12px;
  color: #989eae;
}

.statsSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.views {
  color: #989eae;
  font-size: 13px;
  font-weight: 600;
}

.date {
  color: #989eae;
  font-size: 12px;
}

.voteSection {
  padding: 16px;
}

.voteButtons {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  gap: 1px;
  font-size: 13px;
  font-weight: bold;
  height: 44px;
  margin-top: auto;
}

.voteButton {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
}

.upVote {
  color: #2eff69;
  background-color: #26263a;
}

.downVote {
  color: #ff5126;
  background-color: #26263a;
}

.activeVote {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #2eff6950, #2eff6900);
  }
}

.icon {
  width: 12px;
  height: 12px;
}

.moreVideoSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.moreVideoGrid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
