@use 'giveaway-item';

.root {
  border-radius: 8px;
  background: radial-gradient(94.58% 94.58% at 50.00% 5.42%, rgba(29, 29, 47, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%, rgba(22, 22, 37, 0.00) 100%), #161625;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(45px);
}

.top {
  padding: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.middle, .bottom {
  padding: 24px 20px;
}

.infoSection {
  width: 100%;
}

.entriesSection {
  border-radius: 8px;
  background: rgba(3, 3, 11, 0.33);
  backdrop-filter: blur(45px);


  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  
  width: 100%;
  padding: 16px 0;
}

.entriesCounter {
  display: flex;
  gap: 4px;
}

.giveawayEntriesDescription {
  color: #989EAE;
  font-size: 11px;
  font-weight: 500;
}

.valueItems {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;

  padding: 17px 0;

  p {
    color: #FFF;
    font-size: 15px;
    font-weight: 800;
  }
}
