.root {
  border-radius: 6px;

  display: flex;
  align-items: center;

  flex-grow: 1;

  height: 100%;

  padding: 0 12px;

  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.copy {
  cursor: pointer;
}
.copy:hover {
  opacity: 0.85;
}

.code {
  font-weight: 700;
  font-size: 14px;


  flex-grow: 1;
}

.copy {
  border-radius: 50%;
  background: rgba(152, 158, 174, 0.33);

  width: 6px;
  height: 6px;
  padding: 6px;

  position: relative;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 6px;
  }
}
