.root {
  width: 16px;
  height: 16px;
  
  position: relative;

  svg {
    display: block;
  }
}

.circle {
  position: absolute;
  top: 0;
}

.arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
