.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.social {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;

  margin-bottom: 18px;
}

.icon {
  margin-right: 8px;
}

.videoWrapper {
  display: flex;
  flex-direction: row;
}
