* {
  margin: 0;
	padding: 0;
}

html, body {
  height: 100%;
  color: #ffffff;
}

body {
  background-color: #03030A;

  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  
  font-family: 'Archivo', sans-serif;
}

// This might be a problem later.
a {
  color: #9391c9;
  text-decoration: none;
}
a:hover {
  color: #696882;
}

#__next {
  height: fit-content;
  min-height: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
}
