.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100px;

  margin-bottom: 40px;
}

.wrapper {
  position: relative;
}

.svg {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;

  width: 100%;
  height: 11px;
}

.text {
  font-weight: 800;
  font-size: 40px;
  line-height: 70px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
