.hero {
  height: 450px;

  justify-content: center;
}

.big {
  font-weight: 800;
  font-size: 66px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.description {
  font-size: 14px;
  color: #9391C9;

  text-align: center;
}

.heroTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.buttonGroup {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  justify-content: center;
}

.sectionDescription {
  background: linear-gradient(90deg, #18A9FF 0%, #9229FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-weight: 700;
  font-size: 16px;
  text-align: center;

  margin-bottom: 5px;

  width: fit-content;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 125px;
  margin-bottom: 125px;

  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 35px;

  position: relative;
}
.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionHeaderSvg {
  position: absolute;
  top: 0px;
  z-index: -1;
}

.sectionTitle {
  font-weight: 800;
  font-size: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.boxWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.affiliateWrapper {
  @extend .boxWrapper;

  align-items: flex-end;
}

.fadedAffiliateWrapper {
  position: absolute;
  top: 210px;

  opacity: 0.3;
  z-index: -1;

  transform: scale(0.95);

  filter: blur(2px);

  user-select: none;
}

.image {
  position: absolute;

  z-index: -1;
  opacity: 0.75;

  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: skew(-15deg, 15deg) translate(0px, 0px) scale(1);
  }
  50% {
    transform: skew(-20deg, 20deg) translate(0px, 20px) scale(1.02);
  }
  100% {
    transform: skew(-15deg, 15deg) translate(0px, 0px) scale(1);
  }
}

.ak {
  @extend .image;

  top: 270px;
  left: 5%;
}

.knife {
  @extend .image;

  top: 70px;
  right: 0;

  animation-delay: -3s;
}
