.root {
  display: flex;
  gap: 16px;
}

.left {
  width: 308px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right {
  flex-grow: 1;

  border-radius: 8px;
  background: radial-gradient(94.58% 94.58% at 50.00% 5.42%, rgba(29, 29, 47, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%, rgba(22, 22, 37, 0.00) 100%), rgba(22, 22, 37, 0.50);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(45px);

  padding: 22px;
  
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  overflow-y: scroll;

  max-height: 900px;
}

.mySlot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mySlotLeft {
  display: flex;
  gap: 8px;
  align-items: center;

  color: #989EAE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-weight: 800;
}
.mySlotRight {
  color: #989EAE;
  font-size: 14px;
  font-weight: 700;

  border-radius: 55px;
  background: rgba(152, 158, 174, 0.15);

  padding: 8px 15px;
}

@media screen and (max-width: 950px) {
  .root {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }
}
