.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: auto;
  max-width: 1258px;

  padding: 20px 1em;

  overflow-x: hidden;

  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
}

.headerGroup {
  display: flex;
  flex: 1;

  align-items: center;

  a {
    color: #9391c9;
    text-decoration: none;
  }
}
.headerGroup:first-child {
  justify-content: start;
}
.headerGroup:nth-child(2) {
  justify-content: center;
  gap: 20px;

  color: #9391C9;
  font-weight: bold;
}
.headerGroup:last-child {
  justify-content: end;
}

.active {
  color: #ffffff;
}
.active:hover {
  color: #ffffff;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}