@use 'giveaway-item';

.root {
  position: relative;
  
  border-radius: 8px;

  width: 308px;
}

.top {
  background: radial-gradient(94.58% 94.58% at 50.00% 5.42%, rgba(29, 29, 47, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%, rgba(22, 22, 37, 0.00) 100%), rgba(22, 22, 37, 0.80);
  backdrop-filter: blur(45px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px 8px 0 0;

  height: 335px;
  padding: 26px 20px;
}

.bottom {
  border-top: 2px solid #000000;

  background: rgba(3, 3, 11, 0.33);
  backdrop-filter: blur(45px);

  height: 42px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 14px;

  border-radius: 0 0 8px 8px;
}

.spots {
  font-size: 14px;
  font-weight: 600;
}

.spotsText {
  font-weight: 800;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.entries {
  @extend .spotsText;
  font-size: 15px;
}
.maxEntries {
  @extend .spotsText;
  font-size: 11px;
}

.grey {
  color: #989EAE;
}

.valueWrapper {
  position: absolute;
  top: 15px;
  left: 15px;

  height: 42px;
}

.valueBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  fill: rgba(10, 10, 21, 0.66);
}

.valueContent {
  position: relative;

  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  font-size: 14px;
  font-weight: 800;

  padding: 10px;
  
  z-index: 1;
}
