.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  height: 300px;
}

.title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 66px;
  font-weight: 800;
  text-align: center;
}

.urlTitle {
  @extend .title;

  text-align: left;
}

.subtitle {
  color: #989eae;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.jaggedText {
  font-weight: 700;
  color: #dcb33f;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.stakeSection {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
}

.stakeSectionLeft {
  width: 500px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 40px;
  font-weight: 800;
}
.dotCom {
  color: #989eae;
  font-weight: 800;
}
.subtitle15 {
  color: #989eae;
  font-size: 15px;
  font-weight: 400;
}

.stakeSectionLeftBottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stakeDemoImage {
  border-radius: 8px;


  width: 100%;
  height: auto;
  // object-fit: cover;

  mask-image: linear-gradient(rgba(0,0,0,1) 50%, rgba(0,0,0,0));
}
.imageBackground {
  background: radial-gradient(100% 100% at 50% 0%, rgba(47, 47, 77, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(22, 22, 37, 0.80) 50.09%, rgba(22, 22, 37, 0.00) 100%);  ;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.enjoySection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  
  position: relative;
}
.enjoySectionTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sectionHeaderSvg {
  position: absolute;
  top: 0px;
  z-index: -1;
}

.center {
  text-align: center;
}

.redeemWrapper {
  display: flex;
  justify-content: center;
}