.root {
  position: relative;
}

.content {
  margin: 1em;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}

.shadow {
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.05));
}
