.root {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  
  background: rgba(152, 158, 174, 0.05);
}

.unclaimed {
  border: 2px solid;
  border-image: linear-gradient(315deg, rgba(152, 158, 174, 0.25) 0%, rgba(25, 25, 39, 0.25) 100%);
  border-image-slice: 1;
  border-collapse: separate;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.position {
  color: #989EAE;
  font-size: 12px;
  font-weight: 700;
}
