.root {
  * {
    margin-bottom: 0.5em;
  }

  padding: 0 1em;
  
  font-size: 16px;
}

.effectiveDate {
  text-align: center;
  font-weight: bold;
  margin: 1em auto 2em auto;
}

.sectionHeader {
  font-weight: bold;
  margin-top: 1em;
  font-size: 1.5em;
}

.list {
  list-style: none;

  li {
    margin-left: 1em;
  }
}
